In [1]:
'''This code seperates out currency pairs we are interested in from the massive list OANDA provides us with. Then from there we specify parameters
like granulariy and time ranges. Then preprocess it to store it in a data frame with column headings like time, open, high, low, close, volume etc. Then 
finally save it in data/ as pkl format'''

import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
ins_df = pd.read_pickle("instrument.pkl")

In [4]:
our_curr: list = ['EUR', 'USD', 'GBP', 'JPY', 'CHF','NZD', 'CAD']

In [5]:
for i in range(0, len(our_curr),1):
    for j in range(i+1, len(our_curr),1):
        print(our_curr[i], our_curr[j])

EUR USD
EUR GBP
EUR JPY
EUR CHF
EUR NZD
EUR CAD
USD GBP
USD JPY
USD CHF
USD NZD
USD CAD
GBP JPY
GBP CHF
GBP NZD
GBP CAD
JPY CHF
JPY NZD
JPY CAD
CHF NZD
CHF CAD
NZD CAD

In [6]:
ins_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         123 non-null    object
 1   type         123 non-null    object
 2   displayName  123 non-null    object
 3   pipLocation  123 non-null    int64
 4   marginRate   123 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.9+ KB

In [7]:
ins_df.name.unique()

array(['USD_CNH', 'NZD_CAD', 'EUR_CHF', 'SGD_CHF', 'XAU_AUD', 'WHEAT_USD',
       'EUR_CZK', 'XAG_USD', 'NZD_JPY', 'CHF_HKD', 'EUR_GBP', 'US30_USD',
       'EUR_NOK', 'JP225Y_JPY', 'USD_CZK', 'CN50_USD', 'GBP_NZD',
       'XAU_USD', 'EUR_SEK', 'USD_SGD', 'GBP_PLN', 'CH20_CHF', 'CAD_HKD',
       'XAG_CHF', 'USD_CHF', 'XAG_HKD', 'AUD_HKD', 'ESPIX_EUR', 'NZD_CHF',
       'AUD_CHF', 'GBP_CHF', 'USD_THB', 'XAU_JPY', 'XAU_HKD', 'GBP_CAD',
       'EUR_HKD', 'CHF_JPY', 'GBP_HKD', 'EUR_NZD', 'XAG_AUD', 'WTICO_USD',
       'XAG_NZD', 'AUD_SGD', 'EUR_JPY', 'EUR_TRY', 'USD_JPY', 'SGD_JPY',
       'GBP_ZAR', 'XAG_JPY', 'ZAR_JPY', 'NZD_SGD', 'GBP_JPY', 'USD_TRY',
       'TRY_JPY', 'XAU_NZD', 'HK33_HKD', 'XAG_GBP', 'EUR_SGD', 'EUR_AUD',
       'XAU_SGD', 'USD_CAD', 'SPX500_USD', 'USB10Y_USD', 'EU50_EUR',
       'CAD_CHF', 'USD_NOK', 'USB02Y_USD', 'XCU_USD', 'AUD_USD',
       'XAG_EUR', 'AUD_JPY', 'EUR_ZAR', 'CHF_ZAR', 'USD_HKD',
       'CHINAH_HKD', 'USD_PLN', 'GBP_AUD', 'NAS100_USD', 'XAU_GBP',
       'XAU_XAG', 'AU200_AUD', 'USD_DKK', 'XPT_USD', 'XAU_EUR',
       'SOYBN_USD', 'EUR_USD', 'SG30_SGD', 'USD_ZAR', 'CAD_JPY',
       'NL25_EUR', 'CORN_USD', 'NZD_USD', 'BCO_USD', 'NZD_HKD', 'AUD_NZD',
       'XAG_SGD', 'USB30Y_USD', 'FR40_EUR', 'JP225_USD', 'CAD_SGD',
       'XAU_CHF', 'GBP_USD', 'USD_MXN', 'AUD_CAD', 'USD_HUF', 'EUR_CAD',
       'UK10YB_GBP', 'NATGAS_USD', 'XAU_CAD', 'EUR_DKK', 'XAG_CAD',
       'USB05Y_USD', 'DE30_EUR', 'USD_SEK', 'GBP_SGD', 'XPD_USD',
       'DE10YB_EUR', 'EUR_PLN', 'SUGAR_USD', 'HKD_JPY', 'UK100_GBP',
       'US2000_USD', 'EUR_HUF'], dtype=object)

In [8]:
for p1 in our_curr:
    for p2 in our_curr:
        if f"{p1}_{p2}" in ins_df.name.unique():
            print(f"{p1}_{p2}")

EUR_USD
EUR_GBP
EUR_JPY
EUR_CHF
EUR_NZD
EUR_CAD
USD_JPY
USD_CHF
USD_CAD
GBP_USD
GBP_JPY
GBP_CHF
GBP_NZD
GBP_CAD
CHF_JPY
NZD_USD
NZD_JPY
NZD_CHF
NZD_CAD
CAD_JPY
CAD_CHF

In [9]:
def fetch_candles(pair_name, count, granulrity):
    url = f"{defs.OANDA_URL}/instruments/{pair_name}/candles"
    params = dict(
        count = count,
        granlarity = granulrity,
        price = "MBA"
    )
    response = session.get(url, params=params, headers = defs.SECURE_HEADER)
    return response.status_code, response.json()

In [10]:
code, res = fetch_candles("EUR_USD", 10, "H1")

In [11]:
code

200

In [12]:
res

{'instrument': 'EUR_USD',
 'granularity': 'S5',
 'candles': [{'complete': True,
   'volume': 4,
   'time': '2024-07-26T20:57:50.000000000Z',
   'bid': {'o': '1.08548', 'h': '1.08548', 'l': '1.08543', 'c': '1.08548'},
   'mid': {'o': '1.08558', 'h': '1.08558', 'l': '1.08557', 'c': '1.08558'},
   'ask': {'o': '1.08567', 'h': '1.08571', 'l': '1.08567', 'c': '1.08567'}},
  {'complete': True,
   'volume': 4,
   'time': '2024-07-26T20:57:55.000000000Z',
   'bid': {'o': '1.08546', 'h': '1.08548', 'l': '1.08546', 'c': '1.08548'},
   'mid': {'o': '1.08554', 'h': '1.08558', 'l': '1.08554', 'c': '1.08556'},
   'ask': {'o': '1.08563', 'h': '1.08567', 'l': '1.08563', 'c': '1.08565'}},
  {'complete': True,
   'volume': 4,
   'time': '2024-07-26T20:58:00.000000000Z',
   'bid': {'o': '1.08543', 'h': '1.08548', 'l': '1.08543', 'c': '1.08548'},
   'mid': {'o': '1.08554', 'h': '1.08557', 'l': '1.08554', 'c': '1.08556'},
   'ask': {'o': '1.08565', 'h': '1.08566', 'l': '1.08565', 'c': '1.08565'}},
  {'complete': True,
   'volume': 1,
   'time': '2024-07-26T20:58:05.000000000Z',
   'bid': {'o': '1.08548', 'h': '1.08548', 'l': '1.08548', 'c': '1.08548'},
   'mid': {'o': '1.08557', 'h': '1.08557', 'l': '1.08557', 'c': '1.08557'},
   'ask': {'o': '1.08566', 'h': '1.08566', 'l': '1.08566', 'c': '1.08566'}},
  {'complete': True,
   'volume': 1,
   'time': '2024-07-26T20:58:10.000000000Z',
   'bid': {'o': '1.08548', 'h': '1.08548', 'l': '1.08548', 'c': '1.08548'},
   'mid': {'o': '1.08556', 'h': '1.08556', 'l': '1.08556', 'c': '1.08556'},
   'ask': {'o': '1.08565', 'h': '1.08565', 'l': '1.08565', 'c': '1.08565'}},
  {'complete': True,
   'volume': 5,
   'time': '2024-07-26T20:58:20.000000000Z',
   'bid': {'o': '1.08548', 'h': '1.08549', 'l': '1.08548', 'c': '1.08549'},
   'mid': {'o': '1.08557', 'h': '1.08558', 'l': '1.08557', 'c': '1.08558'},
   'ask': {'o': '1.08566', 'h': '1.08568', 'l': '1.08566', 'c': '1.08568'}},
  {'complete': True,
   'volume': 1,
   'time': '2024-07-26T20:58:30.000000000Z',
   'bid': {'o': '1.08549', 'h': '1.08549', 'l': '1.08549', 'c': '1.08549'},
   'mid': {'o': '1.08558', 'h': '1.08558', 'l': '1.08558', 'c': '1.08558'},
   'ask': {'o': '1.08567', 'h': '1.08567', 'l': '1.08567', 'c': '1.08567'}},
  {'complete': True,
   'volume': 1,
   'time': '2024-07-26T20:58:40.000000000Z',
   'bid': {'o': '1.08550', 'h': '1.08550', 'l': '1.08550', 'c': '1.08550'},
   'mid': {'o': '1.08560', 'h': '1.08560', 'l': '1.08560', 'c': '1.08560'},
   'ask': {'o': '1.08569', 'h': '1.08569', 'l': '1.08569', 'c': '1.08569'}},
  {'complete': True,
   'volume': 4,
   'time': '2024-07-26T20:58:55.000000000Z',
   'bid': {'o': '1.08552', 'h': '1.08552', 'l': '1.08547', 'c': '1.08549'},
   'mid': {'o': '1.08561', 'h': '1.08561', 'l': '1.08558', 'c': '1.08558'},
   'ask': {'o': '1.08570', 'h': '1.08571', 'l': '1.08567', 'c': '1.08567'}},
  {'complete': True,
   'volume': 1,
   'time': '2024-07-26T20:59:05.000000000Z',
   'bid': {'o': '1.08548', 'h': '1.08548', 'l': '1.08548', 'c': '1.08548'},
   'mid': {'o': '1.08558', 'h': '1.08558', 'l': '1.08558', 'c': '1.08558'},
   'ask': {'o': '1.08568', 'h': '1.08568', 'l': '1.08568', 'c': '1.08568'}}]}

In [13]:
def get_candles_df(json_rseponse):
    prices = ["mid", "bid", "ask"]
    ohlc= ["o", "h", "l", "c"]
    our_data = []
    for candle in json_rseponse["candles"]:
        if candle["complete"]==False:
            continue
        new_dict = {}
        new_dict["time"] = candle["time"]
        new_dict["volume"] = candle["volume"]
        for price in prices:
            for oh in ohlc:
                new_dict[f"{price}_{oh}"] = candle[price][oh]
        our_data.append(new_dict)

    candles_df=pd.DataFrame.from_dict(our_data)
    return candles_df

In [14]:
get_candles_df(res)

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-07-26T20:57:50.000000000Z,4,1.08558,1.08558,1.08557,1.08558,1.08548,1.08548,1.08543,1.08548,1.08567,1.08571,1.08567,1.08567
1,2024-07-26T20:57:55.000000000Z,4,1.08554,1.08558,1.08554,1.08556,1.08546,1.08548,1.08546,1.08548,1.08563,1.08567,1.08563,1.08565
2,2024-07-26T20:58:00.000000000Z,4,1.08554,1.08557,1.08554,1.08556,1.08543,1.08548,1.08543,1.08548,1.08565,1.08566,1.08565,1.08565
3,2024-07-26T20:58:05.000000000Z,1,1.08557,1.08557,1.08557,1.08557,1.08548,1.08548,1.08548,1.08548,1.08566,1.08566,1.08566,1.08566
4,2024-07-26T20:58:10.000000000Z,1,1.08556,1.08556,1.08556,1.08556,1.08548,1.08548,1.08548,1.08548,1.08565,1.08565,1.08565,1.08565
5,2024-07-26T20:58:20.000000000Z,5,1.08557,1.08558,1.08557,1.08558,1.08548,1.08549,1.08548,1.08549,1.08566,1.08568,1.08566,1.08568
6,2024-07-26T20:58:30.000000000Z,1,1.08558,1.08558,1.08558,1.08558,1.08549,1.08549,1.08549,1.08549,1.08567,1.08567,1.08567,1.08567
7,2024-07-26T20:58:40.000000000Z,1,1.08560,1.08560,1.08560,1.08560,1.08550,1.08550,1.08550,1.08550,1.08569,1.08569,1.08569,1.08569
8,2024-07-26T20:58:55.000000000Z,4,1.08561,1.08561,1.08558,1.08558,1.08552,1.08552,1.08547,1.08549,1.08570,1.08571,1.08567,1.08567
9,2024-07-26T20:59:05.000000000Z,1,1.08558,1.08558,1.08558,1.08558,1.08548,1.08548,1.08548,1.08548,1.08568,1.08568,1.08568,1.08568

In [15]:
def save_file(candles_df, pair_name, granlurity):
    candles_df.to_pickle(f"{pair_name}_{granlurity}.pkl")

In [16]:
def create_data(pair, granlarity):
    code, json_data = fetch_candles(pair, 4000, granlarity)
    if code != 200:
        print(pair, "Error")
        return
    candles_df = get_candles_df(json_data)
    print(f"{pair} loaded {candles_df.shape[0]} from {candles_df.time.min()} to {candles_df.time.max()}")
    save_file(candles_df, pair, granlarity)

In [17]:
for p1 in our_curr:
    for p2 in our_curr:
        if f"{p1}_{p2}" in ins_df.name.unique():
            create_data(f"{p1}_{p2}", "H1")

EUR_USD loaded 4000 from 2024-07-26T14:15:40.000000000Z to 2024-07-26T20:59:05.000000000Z
EUR_GBP loaded 4000 from 2024-07-26T12:52:20.000000000Z to 2024-07-26T20:59:00.000000000Z
EUR_JPY loaded 4000 from 2024-07-26T15:14:35.000000000Z to 2024-07-26T20:59:05.000000000Z
EUR_CHF loaded 4000 from 2024-07-26T13:35:25.000000000Z to 2024-07-26T20:59:05.000000000Z
EUR_NZD loaded 4000 from 2024-07-26T14:11:45.000000000Z to 2024-07-26T20:58:55.000000000Z
EUR_CAD loaded 4000 from 2024-07-26T15:01:00.000000000Z to 2024-07-26T20:59:00.000000000Z
USD_JPY loaded 4000 from 2024-07-26T14:50:25.000000000Z to 2024-07-26T20:58:45.000000000Z
USD_CHF loaded 4000 from 2024-07-26T13:14:50.000000000Z to 2024-07-26T20:59:05.000000000Z
USD_CAD loaded 4000 from 2024-07-26T14:46:30.000000000Z to 2024-07-26T20:59:05.000000000Z
GBP_USD loaded 4000 from 2024-07-26T14:45:40.000000000Z to 2024-07-26T20:59:05.000000000Z
GBP_JPY loaded 4000 from 2024-07-26T15:12:25.000000000Z to 2024-07-26T20:59:00.000000000Z
GBP_CHF loaded 4000 from 2024-07-26T14:36:25.000000000Z to 2024-07-26T20:59:05.000000000Z
GBP_NZD loaded 4000 from 2024-07-26T14:05:00.000000000Z to 2024-07-26T20:59:05.000000000Z
GBP_CAD loaded 4000 from 2024-07-26T14:53:20.000000000Z to 2024-07-26T20:59:00.000000000Z
CHF_JPY loaded 4000 from 2024-07-26T14:53:15.000000000Z to 2024-07-26T20:59:00.000000000Z
NZD_USD loaded 4000 from 2024-07-26T12:47:10.000000000Z to 2024-07-26T20:58:00.000000000Z
NZD_JPY loaded 4000 from 2024-07-26T14:29:25.000000000Z to 2024-07-26T20:59:00.000000000Z
NZD_CHF loaded 4000 from 2024-07-26T12:02:15.000000000Z to 2024-07-26T20:58:50.000000000Z
NZD_CAD loaded 4000 from 2024-07-26T12:41:25.000000000Z to 2024-07-26T20:59:00.000000000Z
CAD_JPY loaded 4000 from 2024-07-26T14:32:15.000000000Z to 2024-07-26T20:59:00.000000000Z
CAD_CHF loaded 4000 from 2024-07-26T12:46:40.000000000Z to 2024-07-26T20:58:25.000000000Z